/**
 * A few custom Styles for Documentation
 */

/* Fix script tag styles in code block documentation. */
code .tag {
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #c66;
  display: inline;
  font-size: 1em;
  height: 2em;
  justify-content: normal;
  line-height: 1.5;
  padding: 0;
  white-space: pre;
  text-transform: none;
}

.top-nav {
  height: 75px;
}

#main {
  padding-top: 75px;
}

#main > .core {
  overflow-y: auto;
  overflow-x: hidden;
}

.footer .content {
  display: none;
}

.cp_embed_iframe {
  height: 300px;
}

.ramp-example {
  display: block;
  margin-bottom: 10px;
}

.try-it-out {
  margin-bottom: 40px;
  display: block;
}

.pad {
  padding-top: 10px;
}

.pad-20 {
  padding-top: 20px;
}

.italic {
  font-style: italic;
}

.type-separator {
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif";
}

.type-section {
  border-left: 3px solid #bfbfbf;
  padding-left: 10px;
  margin-bottom: 0.4em;
}

h4.parameter-heading, h5.parameter-heading {
  margin-bottom: 0.4em;
  padding-top: 0.4em;
}
